---
layout: default
---
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}><div style="text-align: center"><span style="color: #c63930">MGB Restoration Project</span></div></h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">beginning...</p>

<div style="text-align: center"><img src="../photos/mgb/mgb01.jpg" style="height: 20%; width: 20%; object-fit: contain"></div>

<a href="https://photos.app.goo.gl/yRpAVQQ59B3upo959">Mini MGB</a>
<a href="https://photos.app.goo.gl/v47mfDP74JLkEtg46">Full MGB</a>

<div class="image123">
    <div style="float: left; margin-right: 5px;">
        <img src="../photos/mgb/mgb01.jpg" height="20%" width="20%"/>
        <p style="text-align: center;">This is image 1</p>
    </div>
    <div style="float: left; margin-right: 5px;">
        <img src="../photos/mgb/mgb01.jpg" height="200" width="200"/>
        <p style="text-align: center;">This is image 1</p>
    </div>
    <div style="float: left; margin-right: 5px;">
        <img src="../photos/mgb/mgb01.jpg" height = "100" width="100"/>
        <p style="text-align: center;">This is image 1</p>
    </div>
</div>

