<!---
layout: default
--->
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}><span style="color: #c63930">MGB Restoration Project</span></h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">beginnging...</p>
<div class="portrait"><a href="https://lh3.googleusercontent.com/pw/AIL4fc8GtClnHlJmeYG1v08527WBUyPn8yD8z6jo_XegiHFF-ovdvNLMJy3RddWhQ3wPY0XDIMOIdfMc4HOsgBgScqqxN8eU1p3eHRmVi8Gi8EFbvdJ-gx8=w2400?source=screenshot.guru"> <img src="https://lh3.googleusercontent.com/pw/AIL4fc8GtClnHlJmeYG1v08527WBUyPn8yD8z6jo_XegiHFF-ovdvNLMJy3RddWhQ3wPY0XDIMOIdfMc4HOsgBgScqqxN8eU1p3eHRmVi8Gi8EFbvdJ-gx8=w600-h315-p-k" /> </a></div>
