<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}><span style="color: #5aabbc">About Me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Website will be completed shortly...</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Welcome! I'm <span style="color: #5dad1d">Mark Vadder Van Kirk</span>, and I'm a junior at the <span style="color: #5dad1d"><a href="https://www.nd.edu/">University of Notre Dame</a></span>. My major is Computer Science. Testing...</p>
