<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}><span style="color: #3d8ecd">About Me</h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Website will be completed shortly...</p>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Welcome! I'm <span style="color: #3d8ecd">Mark Vadder Van Kirk</span>, and I'm a junior at the <a href="https://www.nd.edu/" style="color: #3d8ecd">University of Notre Dame</a>. My major is Computer Science. Testing...</p>
