<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}><span style="color: #ebb523">Hobbies</span></h2>
<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">In my free time, I really enjoy creating new projects and playing sports like <a href="https://usapickleball.org/what-is-pickleball/" style="color: #ebb523">pickleball</a>. I also like trying new things, whether that be food, places, or activities. And, of course, I value every moment I get to spend with my friends and family.</p>

<p class="f4 mb-4 {% if site.style == 'dark' %}text-white{% else %}text-gray{% endif %}">Here are some hobbies that I treasure:</p>

<div class="d-flex flex-wrap gutter-condensed mb-4">
  {% for topic in site.topics %}
    <div class="col-6 col-md-12 col-lg-6 col-xl-4 mb-3">
      {% include topic-card.html %}
    </div>
  {% endfor %}
</div>
